.dino-wrapper {
  position: relative;
  height: 75px;
  width: 66px;
  display: inline-block;
}

.dino-sprite {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 44px;
  height: 47px;
  background-image: url('/dino.png');
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  transform: scale(1.5);
  transform-origin: bottom left;
}

/* Run animation with CSS */
.dino-sprite.run {
  animation: dino-run 0.3s steps(2) infinite;
}

@keyframes dino-run {
  0% { background-position: 0 0; }
  100% { background-position: -88px 0; }
}

/* Duck animation (if you have duck frames) */
.dino-sprite.duck {
  /* Add duck styles here */
  animation: dino-run 0.3s steps(2) infinite;
}